/*
  Custom header
*/

.custom-header {
  position: relative;
  padding-top: 5vh;
  background: url('https://2019.kochi.wordcamp.org/files/2019/09/WCK_2019_Bg.jpg')
    bottom center no-repeat !important;
  background-size: auto auto;
  background-size: cover;
  border-bottom-left-radius: 0 100%;
  border-bottom-right-radius: 0% 0% !important;
  box-shadow: 0 16px 0 rgba($primary, 0.2);
  @media (max-width: $tabletSize) {
    border-bottom-left-radius: 0 100%;
    border-bottom-right-radius: 0 100%;
  }
  @media (max-width: $mobileSize) {
  }
  .custom-header .custom-logo-link {
    display: flex;
    justify-content: center;
    padding: 6rem 1.5rem;
    position: relative;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .site-header {
    overflow: hidden;
  }
  .site-branding {
    .site-title,
    .site-description {
      display: none;
    }
  }
}

body {
  &:not(.home) {
    .custom-header {
      padding-top: 5px;
      padding-bottom: 10px;
      @media (min-width: $tabletSize) {
        padding-top: 90px;
        background: url(https://2019kochi.wordcamp.org/files/2019/09/WCK_2019_Bg.jpg)
          bottom center no-repeat !important;
        background-size: cover;
      }
      .custom-logo-link {
        padding-bottom: 2rem;
        padding-top: 2rem;
        display: flex;
        justify-content: center;
      }
      img {
        max-height: 250px !important;
        max-width: 85%;
        height: auto;
        width: auto;
      }
      .site-title {
        margin: 1rem 0;
        @media (min-width: $tabletSize) {
          margin: 3rem 0;
        }
      }
    }
    .site-main {
      padding-top: 0;
    }
  }
}

.site-title {
  display: flex;
  color: #fff;
  font-family: $font_header;
  font-size: 64px;
  font-size: 4rem;
  font-weight: bold;
  justify-content: center;
  padding: 0;
  a {
    display: flex;
    color: $white;
    font-family: $font_header;
    font-size: 64px;
    font-size: 4rem;
    font-weight: bold;
    justify-content: center;
    padding: 0;
    text-decoration: none;
    @media (max-width: $desktopSize) {
      font-size: 48px;
      font-size: 3rem;
    }
    @media (max-width: $mobileSize) {
      font-size: 32px;
      font-size: 2rem;
      text-align: center;
    }
  }
}

.site-description {
  display: flex;
  color: $white;
  font-family: $font_header;
  font-size: 32px;
  font-size: 2rem;
  font-weight: normal;
  justify-content: center;
  padding: 0;
  @media (max-width: $desktopSize) {
    font-size: 24px;
    font-size: 1.5rem;
  }
  @media (max-width: $tabletSize) {
    font-size: 20px;
    font-size: 1.25rem;
  }
  @media (max-width: $mobileSize) {
    font-size: 14px;
    font-size: 0.875rem;
    text-align: center;
  }
}
