/* organizers */
.wordcamp-organizers {
  padding-left: 0;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: $mobileSize) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $desktopSize) {
    grid-template-columns: repeat(3, 1fr);
  }
  li.wordcamp-post-list__post {
    margin-bottom: 3em;
    h3 {
      font-size: 1.1em;
      white-space: nowrap;
    }
  }
  .wordcamp-post-list__post {
    overflow: visible;
  }
  .avatar.photo {
    box-shadow: 5px 5px 0 rgba($secondary, 0.3);
    border: 5px solid rgba($secondary, 0.9);
    border-radius: 10px;
    @include transition(0.15s, ease);
    max-width: 100%;
    height: auto;
    @media (min-width: $mobileSize) {
      max-width: 85%;
    }

    &:hover {
      transform: scale(1.02);
      @include transition(0.15s, ease);
    }
  }
  .wordcamp-block__item-content.wordcamp-organizers__content {
    display: none;
    @media (min-width: $mobileSize) {
      display: block;
    }
  }
}

/** sponsors */
img {
  &.wordcamp-image__featured-image {
    max-width: 100%;
    height: auto;
  }
}

.sponsor-page-grid {
  ul {
    padding-left: 0;
  }
}
