/*
  Menu
*/

.menu-toggle {
  visibility: visible;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  position: relative;
  z-index: 1;
  color: $primary;
  font-size: 0px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2.5;
  text-decoration: none;
  background: $white;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
  &:before {
    content: '#WCKOCHI19';
    visibility: visible;
    width: auto;
    padding-left: 5vw;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    position: absolute;
    z-index: 3;
    color: $primary;
    font-size: 1.4rem;
    left: 0;
  }
  &:after {
    content: '☰';
    position: absolute;
    display: flex;
    width: auto;
    padding-right: 5vw;
    align-items: flex-end;
    justify-content: end;
    z-index: 4;
    color: $primary;
    flex: 1;
    font-size: 1.8rem;
    font-weight: 900;
    right: 0;
  }

  @media (min-width: $tabletSize) {
    display: none;
  }
}

.dropdown-toggle {
  display: none;
}
.secondary-navigation {
  background: $secondary;
  @media (min-width: $tabletSize) {
    background: transparent;
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
  }
  &.page-navigation-container {
    &.toggled-on {
      .menu-primary-menu-container {
        display: flex;
      }
    }
    .menu-primary-menu-container {
      display: none;
      @media (min-width: $tabletSize) {
        display: flex;
      }
      .menu {
        display: flex;
        flex-direction: column;
        list-style: none;
        background: transparent;
        margin: 0 auto;
        max-width: 60rem;
        position: relative;
        width: 100%;
        padding: 0;
        font-family: $font_secondary;
        @media (min-width: $tabletSize) {
          flex-direction: row;
        }
        li.menu-item {
          background: transparent;
          min-width: 100px;
          display: block;
          padding: 0;
          justify-content: flex-start;
          position: relative;
          &.current-menu-item,
          &.current-menu-parent {
            &:hover {
              & > a {
                position: relative;
                &:before {
                  position: absolute;
                  content: '';
                  border-bottom: solid 2px $white;
                  width: 40%;
                  bottom: 8px;
                  @media (min-width: $tabletSize) {
                    bottom: 30px;
                    width: 60%;
                  }
                }
              }
            }
            & > a {
              position: relative;
              &:before {
                position: absolute;
                content: '';
                border-bottom: solid 2px $white;
                width: 40%;
                bottom: 8px;
                @media (min-width: $tabletSize) {
                  bottom: 30px;
                  width: 60%;
                }
              }
            }
            .current-menu-item {
              & > a {
                &:before {
                  display: none;
                }
              }
            }
          }
          &.menu-item-has-children {
            > a {
              &:before {
                @media (min-width: $tabletSize) {
                  width: 80%;
                }
              }
              &:after {
                content: '⌄';
                display: block;
                padding-left: 12px;
                padding-bottom: 14px;
                font-size: 25px;
              }
            }
          }
          @media (min-width: $tabletSize) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &.menu-item-has-children {
            background: transparent;
            & > a {
              color: $white;
            }
          }
          .sub-menu {
            width: 100%;
            padding-left: 0;
            flex-direction: column;
            z-index: 1;
            display: block;
            margin: 0;
            font-size: 1rem;
            @media (min-width: $tabletSize) {
              display: none;
              background: $white;
            }
            .menu-item {
              text-align: left;
              justify-content: left;
              a {
                width: 100%;
                justify-content: flex-start;
                padding-left: 20px;
                text-transform: capitalize;
                @media (min-width: $tabletSize) {
                  padding-left: 0px;
                }
              }
            }
          }
          &:hover {
            @media (min-width: $tabletSize) {
              background: $white;
            }
            .sub-menu {
              @media (min-width: $tabletSize) {
                display: flex;
                position: absolute;
                top: 90px;
                padding-left: 0;
                left: 0;
                width: auto;
                min-width: 350px;
                margin: 0;
              }
              li {
                &.menu-item {
                  &.current-menu-item {
                    & > a {
                      &:before {
                        display: none;
                      }
                    }
                  }
                  &:hover {
                    background: $primary;
                    a {
                      color: $white;
                      border-bottom: none;
                    }
                  }
                  a {
                    height: 50px;
                    color: $white;
                    @media (min-width: $tabletSize) {
                      color: $primary;
                      height: 60px;
                    }
                  }
                }
              }
            }
            a {
              @media (min-width: $tabletSize) {
                color: $primary;
              }
            }
          }
          a {
            color: $white;
            font-size: 18px;
            font-size: 1.2rem;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            line-height: 1;
            text-decoration: none;
            margin: 0 20px;
            min-width: 200px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 50px;
            width: 100%;
            @media (min-width: $tabletSize) {
              height: 90px;
              justify-content: center;
            }
          }
          &.callout {
            background: $primary;
            &.current-menu-item,
            &.current-menu-parent {
              &:hover {
                & > a {
                  position: relative;
                  &:before {
                    position: absolute;
                    content: '';
                    border-bottom: solid 2px $primary;
                    width: 40%;
                    bottom: 8px;
                    @media (min-width: $tabletSize) {
                      bottom: 30px;
                      width: 60%;
                    }
                  }
                }
              }
              & > a {
                position: relative;
                &:before {
                  position: absolute;
                  content: '';
                  border-bottom: solid 2px $white;
                  width: 60%;
                  bottom: 30px;
                  @media (min-width: $tabletSize) {
                    bottom: 30px;
                    width: 60%;
                  }
                }
              }
            }
            @media (min-width: $tabletSize) {
              margin-left: auto;
            }
            a {
              color: $white;
              width: 320px;
            }
            &:hover {
              background: $white;
              a {
                @media (min-width: $tabletSize) {
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }
  }
}
