/* Widget latest News */
.widget-title {
  display: none;
}
.widget_rss,
.widget_recent_entries {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 50px auto 30px;
  @media (min-width: $tabletSize) {
    margin: 120px auto 80px;
    max-width: 960px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    flex-direction: column;
    flex-wrap: wrap;
    @media (min-width: $tabletSize) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    li {
      list-style: none;
      margin-bottom: 40px;
      @media (min-width: $tabletSize) {
        flex: 1 0 30%;
        margin-right: 5%;
        &:nth-child(3n + 0) {
          margin-right: 0;
        }
      }
      a {
        color: black;
        text-decoration: none;
        font-size: 1.5rem;
        font-size: 24px;
        margin-bottom: 20px;
        position: relative;
        line-height: 1.2;
        &:after {
          background-color: $primary;
          content: '';
          display: block;
          height: 2px;
          margin-top: 1rem;
          width: 4rem;
          -webkit-transition: width 0.3s ease;
          -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
        }
        &:before {
          content: '#WCKOCHI';
          display: inline-block;
          position: relative;
          opacity: 0.1;
          font-size: 1.5rem;
          text-transform: uppercase;
          position: absolute;
          opacity: 0.2;
          z-index: -1;
          color: $fourth;
          @media (min-width: $tabletSize) {
            font-size: 3rem;
            right: 0;
            left: 0;
            top: -10px;
          }
          text-transform: uppercase;
        }
        &:hover {
          &:after {
            width: 5rem;
          }
        }
      }
    }
  }
  .rssSummary {
    margin-top: 1rem;
  }
}

.widget_recent_entries {
  .widget-title {
    color: $primary;
    font-size: 32px;
    font-size: 2rem;
    font-family: $font_primary;
    text-align: center;
  }
  ul {
    padding-top: 1rem;
    padding: 3rem 0;
    li {
      @media (min-width: $tabletSize) {
        margin-bottom: 4rem;
      }
    }
  }
}
