/*
 General
*/

body {
  font-family: $font_primary;
  font-size: 16px;
  font-size: 1rem;
  background: $white;
  letter-spacing: 0.4px;
  letter-spacing: 0.04rem;
  line-height: 1.3rem;
  overflow-x: hidden;
  &:not(.home) {
    .entry-content {
      a {
        color: $black;
        text-decoration: none;
        border-bottom: 1px solid $primary;
        @include transition (0.5s, ease);
        &:hover {
          color: $primary;
          border-bottom: 2px solid $secondary;
          @include transition (0.5s, ease);
        }
      }
      img {
        @media (min-width: $tabletSize) {
          height: auto;
          max-width: 100%;
        }
      }
    }
    .entry-title {
      color: #000;
      font-size: 32px;
      font-size: 2rem;
      line-height: 1.15;
      margin-bottom: 10px;
      text-decoration: none;
      text-transform: uppercase;

      & > a {
        &:visited {
          color: #000000;
        }
      }
    }
  }
  .entry-content {
    ul {
      li {
        margin-bottom: 15px;
      }
    }
  }
}
a {
  @include transition(0.5s, ease);
  &:hover {
    @include transition(0.5s, ease);
  }
}
input[type='email'],
input[type='text'] {
  padding: 0.75rem;
}

.pushbutton-wide,
input[type='submit'] {
  background: $primary;
  border: none;
  color: $white;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 1rem 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  @include transition (0.5s, ease);
  &:hover {
    background: $third;
    @include transition (0.5s, ease);
    cursor: pointer;
  }
}

h2,
.entry-title {
  font-family: $font_header;
}

select {
  border: 1px solid $grey;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 3em;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 1.5rem;
}

td,
th {
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

@media (min-width: 48em) {
  td,
  th {
    padding: 1rem;
  }
}

.site-main {
  margin: 0 auto;
  padding-top: 3rem;
}

.site-footer {
  padding: 3rem 0;
  text-align: center;
}

.site-info {
  padding-top: 1rem;
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.site-info-generator {
  &::after {
    content: '/';
    display: inline;
    padding: 0 7px 0 10px;
    white-space: pre;
  }
}

.hentry,
.error-404 {
  margin: 0 auto;
  max-width: 960px;
  padding: 3rem 1rem;
  width: calc(100% - 3rem);
}
// /module width patch
.comments-area,
.navigation.post-navigation {
  @extend .hentry;
  padding: 0rem 1rem;
}

.single-post {
  .entry-title {
    color: $black;
    text-decoration: none;
  }
  ul {
    margin: 1.5em 0;
  }
}

.entry-title {
  color: $primary;
  font-size: 48px;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: double;
}

.entry-title,
.widget-title,
.front-title {
  color: $primary;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 2.8rem;
  font-weight: bold;
}

#site-navigation,
body.home #primary {
  display: none;
}

.widget_blog_subscription {
  margin: 0 auto;
  max-width: 640px;
  text-align: center;
}

.entry-meta,
.entry-footer {
  font-size: 12px;
  color: grey;
  opacity: 0.5;
  a {
    color: grey;
    text-decoration: none;
    border-bottom: 1px solid $primary;
  }
  .edit-link {
    margin-left: 20px;
  }
}
.entry-meta {
  display: none;
}

body:not(.home) .entry-content a.wordcamp-image__featured-image-link {
  border-bottom: 0px;
  &:hover {
    box-shadow: none;
  }
}


/*# Forms-*/

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 0px;
  padding: 0.6em 0.5em;
  &:focus {
    color: #111;
  }
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  max-width: 100%;
  padding: 0.6em 0.5em;
}
