// theme variables
$desktopSize: 1024px;
$tabletSize: 768px;
$mobileSize: 500px;

$primary: #b356f3;
$secondary: #9284fe;
$third: #66b1fd;
$fourth: #56c5fe;
$white: #FFFFFF;
$black: #000000;
$blue: #2C325F;
$grey: #bbb;


$font_primary: "Nunito", sans-serif;
$font_header: "Oswald", sans-serif;